<div class="nav row-start-1 col-start-1 col-span-3 md:flex md:justify-center md:items-center text-lg text-white" onclick="document.getElementById('toggle').checked = false">
    <a class="nav-item md:mx-6" href="/#services" class="hover:text-yellow md:mx-6">Services</a>
    <a class="nav-item md:mx-6" href="/#technologies" class="hover:text-yellow md:mx-6">Technologies</a>
    <a class="nav-item md:mx-6" href="/#contacts" class="hover:text-yellow md:mx-6">Contacts</a>
    <a class="nav-item md:mx-6" href="/style/" class="hover:text-yellow md:mx-6">TS Style Guide</a>
</div>
