@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-gray-light text-white;
  }

  main.marketing h2 {
    @apply text-5xl font-bold;
  }
  main.marketing h3 {
    @apply text-4xl font-bold;
  }
  main.marketing h4 {
    @apply text-2xl font-bold;
  }
  .why-us h4 {
    height: 4.375rem;
  }
  main.marketing p {
    @apply text-lg mt-2.5;
  }
  .cta-button {
    @apply px-5 md:px-10 py-3 h-12 w-full md:w-auto font-bold text-gray bg-yellow hover:bg-yellow-light;
  }

  body.style {
    @apply text-lg md:text-xl font-normal h-screen flex flex-col;
  }
  body.style p {
    @apply leading-10 font-light tracking-wide;
  }

  /* style guide */
  body.style h1 {
    @apply text-3xl md:text-5xl mb-7 font-bold;
  }
  body.style h2 {
    @apply text-2xl md:text-4xl my-5 md:mt-14 font-bold text-blue-light;
  }
  body.style h3 {
    @apply text-xl md:text-3xl my-4 md:mt-11 font-bold;
  }
  body.style h4 {
    @apply text-lg md:text-2xl my-3 md:mt-10 font-bold;
  }

  .sg-container > article {
    @apply p-7;
  }

  .sg-container a {
    text-decoration: underline;
  }

  toc {
    @apply max-w-guide md:max-w-guide-md;
  }

  #guide-nav-button {
    @apply font-bold text-2xl text-white;
  }
  #guide-nav-button:focus {
    @apply outline-none;
  }

  #guide-nav-button svg {
    height: 30px;
    fill: currentColor;
  }

  #guide-nav-button.active {
    @apply text-yellow;
  }

  #guide-nav-button ~ main > aside {
    @apply w-0 md:w-guide-md;
    transition: 0.5s width;
  }
  #guide-nav-button.active ~ main > aside {
    @apply w-guide;
  }

  aside::-webkit-scrollbar-track,
  .sg-container::-webkit-scrollbar-track,
  pre > code::-webkit-scrollbar-track,
  body.marketing::-webkit-scrollbar-track, {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    @apply bg-transparent;
  }
  aside::-webkit-scrollbar,
  .sg-container::-webkit-scrollbar,
  pre > code::-webkit-scrollbar,
  body.marketing::-webkit-scrollbar {
    width: 6px;
    @apply bg-transparent;
  }
  aside::-webkit-scrollbar-thumb,
  body.marketing::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    @apply bg-blue-light;
  }
  .sg-container::-webkit-scrollbar-thumb,
  pre > code::-webkit-scrollbar {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    @apply bg-yellow-light;
  }
  aside .toc {
    letter-spacing: 0.05em;
    @apply p-5 w-guide md:w-guide-md;
  }
  aside li {
    @apply ml-2.5;
  }

  .toc a {
    @apply p-2.5 w-full inline-block pl-6;
  }

  .toc a.active {
    @apply bg-yellow text-gray-dark;
  }

  .toc > ol > li > a {
    text-transform: uppercase;
    @apply text-blue-light font-extrabold;
  }
  .toc > ol > li > ol > li > a {
    @apply font-bold;
  }
  .toc > ol > li > ol > li > ol > li > a {
    @apply font-semibold text-base;
  }

  .sg-container ul {
    list-style-type: disc;
    @apply ml-3 pl-7;
  }
  .sg-container li {
    @apply leading-10 tracking-wide;
  }

  .zippy {
    border-left: 4px solid #FFF385;
    @apply bg-gray-light p-7;
  }

  .clipboard {
    @apply text-lg ml-3 relative;
  }

  .clipboard-confirm {
    @apply absolute p-3 bg-gray-dark rounded-md -top-10 -left-7 opacity-60;
    
  }

  table {
    width: 95%;
    @apply mx-auto my-6;
  }
  th {
    @apply bg-gray-light;
  }
  td, th {
    outline: 1px solid #FFF385;
    @apply p-4;
  }

  code {
    background-color: #243949;
    @apply rounded px-2;
  }
  pre .str,
  code .str {
    color: #bcf0c0;
  } /* string */
  pre .kwd,
  code .kwd {
    color: #00bff9;
    font-style: italic;
  } /* keyword - dark pink */
  pre .com,
  code .com {
    color: #999999;
    font-style: italic;
  } /* comment - gray */
  pre .typ,
  code .typ {
    color: #f7ecb5;
  } /* type - light blue */
  pre .lit,
  code .lit {
    color: #8dec95;
  } /* literal - blue */
  pre .pun,
  code .pun {
    color: #fff;
  } /* punctuation - white */
  pre .pln,
  code .pln {
    color: #fff;
  } /* plaintext - white */

  pre > code {
    background-color: #011627;
    border-radius: 8px;
    width: 95%;
    margin: 1em auto;
    padding: 1em;
    white-space: pre-wrap;
    display: block;
    overflow-x: auto;
  }

  pre > code.bad {
    background-color: #660606;
  }
}

@layer base {
  .first-letter::first-letter {
    @apply text-yellow;
  }
  main.marketing > section > article {
    @apply text-white md:max-w-large md:m-auto p-5 md:px-0 md:py-32;
  }
  main.marketing > section > article:not(.hero) {
    @apply flex flex-col items-center;
  }
  main.marketing > section:nth-child(odd) {
    @apply bg-gray;
  }
  main.marketing > section:nth-child(even) {
    @apply bg-gray-light;
  }
}

@layer base {
  @font-face {
    font-family: "Kanit", sans-serif;
  }
}
